
.DS_Store
__pycache__
/frontend/node_modules
base_model/models/*
/frontend/node_modules/*
/resumes
base_model2/*.pth
Eval/*.yaml
Models/*
Analysis/*.png
llama_finetune/llama-3.2-3b-full-ft-interview-lowlr/checkpoint-102/model-00002-of-00002.safetensors
